@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.verticalWrite {
  writing-mode: vertical-lr;
}

.canvasref canvas {
  border-radius: 2rem;
  width: 100% !important;
  height: 100% !important;
}

@media (min-width: 976px) {
  .canvasref canvas {
    border-radius: 3rem;
  }
}